body {
    margin-left: 10px;
    
}


.content {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;   
}

.cont {
    margin: 0 auto;
    width: 500px;
    border: 5px solid blue;
}

.ppp {
    padding: 50px;
}
